@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-everything(true); //Flexbox mode foundation

// My code starts here...
$global-flexbox: true;
$row-width: 100%; //Full width rows!

$primary-color: #ffcc00; //Halloween orange
//$primary-color:#00ff00; //Sweet lime
//$primary-color: #aabbcc;
$dark-background:#1d1d1d;
$light-background:  #fafafa;
$text-color: white;


body{
    background: url("../resources/background-space.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.row{
    min-height: 25%;
}

.j-tunes{
    color: white;
    text-align: center;
}

@media #{$medium-up} {

 }

.card-container{
    padding: 40px;
}

.card-contents{
    background: rgba(128, 128, 128, 0.5);
    border: 40px;
    border-radius: 5%;
    min-height: 768px;

    img{
        flex-grow: 1;
        padding: 16px;
        border-radius: 10%;
        min-width: 200px;
        min-height: 200px;
    }
    h4{
        text-align: center;
        color: $text-color;
        font-size: 30px;
        font-weight: bold;
    }
    h5{
        text-align: center;
        color: darken($text-color, 20%);
        font-size: 24px;
        font-style: italic;
    }
    .button{
        
        width: 80%;
        padding: 24px;
        margin-bottom: 50px;
    }
    .play-container{
        position: relative;
        margin-top: 24px;
        .play{
            position: absolute;
            top: 15%;
            left: 25%;
            right: 75%;
            bottom: 75%;
            width: 50%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.25s linear;
            .play-icon{
                position: absolute;
                min-height: 60px;
                min-width: 60px;
                font-size: 48px;
                color: $primary-color; 
            }
        }  
    }
}
.play-container:hover > img{
    -webkit-filter: brightness(30%) ; /* Chrome, Safari, Opera */
    filter: brightness(30%) ;

    transition: 0.2s -webkit-filter linear;
    transition: 0.2s filter linear;
}
.play-container:hover > .play{
    visibility: visible;
    opacity: 1;
}
.play-icon:hover{
    text-shadow: 0px 0px 10px white;
}

.text-center{
    text-align: center;
}

.card-song{
    background: rgba( 128, 128, 128, 0.5);
    
}

.album-art{
    border-radius: 4px;
}

.button-text{
    font-size: 24px;
}

//Spinner code!!
.loader {
  visibility: hidden;
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin:auto;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}